<p>
  <form method="post" action="/add" style="display:inline">
    <input type="text" name="amount" />
    <input type="submit" name="add" value="add" />
  </form>
</p>

<b>Total: </b><%= "%10.2f" % @sum %>
<ul>
  <% @savings.each do |s| %>
    <li><%= "%10.2f" % s.amount %></li>
  <% end %>
</ul>

<p>
  <form method="get" action="/destroy-all" style="display:inline">
    <input type="submit" name="clear-all" value="clear-all" />
  </form>
</p>
