<ul>
  <% @savings.each do |s| %>
    <li><%= s.amount %></li>
  <% end %>
</ul>

<form method="post" action="/add" >
  <input type="text" name="amount" />
  <input type="submit" name="add" value="add" />
</form>
